h1 {
    color: blue;
}

a {
    text-decoration: none;
    color: black;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
}

button, input {
    margin: 5px;
    display: block;
}