<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Inspect</title>
    <link rel="stylesheet" href="public/style/pico.min.css">
</head>
<body>
    <article>
        <header><h1>Member Inspect</h1></header>
        <p>Username : {{ .User.Username }}</p>
        <p>FullName : {{ .User.FullName }}</p>
        <p>Tel : {{ .User.Tel }}</p>
        <p>DoB : {{ .User.DOB }}</p>
        <p>Address : {{ .User.Address }}</p>
        <hr>
        <p>Balance (Rp) : {{ .Balance }}</p>
        <p>Total Loan (Rp) : {{ .TotalLoan }}</p>
        <p>Remaining Loan (Rp) : {{ .RemainingLoan }}</p>
        <p>Total Transaction : {{ .TotalTransaction }}</p>
        <p>Transaction this month : {{ .TransactionThisMonth }}</p>
        <hr>
        <p>All Transactions</p>
        <table>
            <thead>
                <th>ID</th>
                <th>Date</th>
                <th>Name</th>
                <th>Amount</th>
            </thead>
            <tbody>
                {{ range $index, $elem := .Transaction }}
                <tr>
                    <td>{{ $elem.ID }}</td>
                    <td>{{ $elem.Date }}</td>
                    <td>{{ $elem.Name }}</td>
                    <td>{{ $elem.Amount }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        <hr>
        <p>Debt Details</p>
        <table>
            <thead>
                <th>ID</th>
                <th>Date</th>
                <th>Due Date</th>
                <th>Amount (Rp)</th>
                <th>Remaining (Rp)</th>
                <th>Info</th>
            </thead>
            <tbody>
                {{range $index,$elem := .DebtDetail}}
                <tr>
                    <td>{{$elem.ID}}</td>
                    <td>{{$elem.Date}}</td>
                    <td>{{$elem.DueDate}}</td>
                    <td>{{$elem.Amount}}</td>
                    <td>{{$elem.Remaining}}</td>
                    <td>{{$elem.Info}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </article>
</body>
</html>