<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Request</title>
    <link rel="stylesheet" href="public/style/pico.min.css">
    <script src="public/javascript/mem-req.js" defer></script>
</head>
<body>
    <article>
        <header><h1>Member Request</h1></header>
        <p>Permintaan Anggota</p>
        <table>
            <thead>
                <th>ID</th>
                <th>Tanggal</th>
                <th>ID Anggota</th>
                <th>Username</th>
                <th>Jenis</th>
                <th>Jumlah (Rp)</th>
                <th>Info</th>
                <th>Command</th>
            </thead>
            <tbody>
                {{ range $index, $elem := .MemReq }}
                <tr>
                    <td>{{ $elem.ID }}</td>
                    <td>{{ $elem.Date }}</td>
                    <td>{{ $elem.User.ID }}</td>
                    <td>{{ $elem.User.Username }}</td>
                    <td>{{ $elem.Type }}</td>
                    <td>{{ $elem.Amount }}</td>
                    <td>{{ $elem.Info }}</td>
                    <td>
                        <form action="/mem-request-acc" method="POST">
                            <input type="hidden" value="{{$elem.ID}}" name="ID">
                            <input type="hidden" value="{{$elem.User.ID}}" name="UID">
                            <input type="hidden" value="{{$elem.Date}}" name="Date">
                            <input type="hidden" value="{{$elem.Type}}" name="Type">
                            <input type="hidden" value="{{$elem.Amount}}" name="Amount">
                            <input type="hidden" value="{{$elem.Info}}" name="Info">
                            <button type="submit">accept</button>
                        </form>
                        <form action="/mem-request-dec" method="POST">
                            <input type="hidden" value="{{$elem.ID}}" name="ID">
                            <button type="submit">decline</button>
                        </form>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        <hr>
        <p>Permintaan Murobahah</p>
        <table>
            <thead>
                <tr>
                    <th rowspan="2">ID</th>
                    <th rowspan="2">Tanggal</th>
                    <th colspan="2">Username</th>
                    <th rowspan="2">Jatuh Tempo</th>
                    <th rowspan="2">Jumlah (Rp)</th>
                    <th rowspan="2">Info</th>
                    <th rowspan="2">Dokumen</th>
                    <th rowspan="2">Command</th>
                </tr>
                <tr>
                    <th>Agen</th>
                    <th>Pembeli</th>
                </tr>
            </thead>
            <tbody>
                {{ range $index, $elem := .MemReqMurobahah }}
                <tr>
                    <td>{{ $elem.ID }}</td>
                    <td>{{ $elem.Date }}</td>
                    <td>{{ $elem.Agent.Username }}</td>
                    <td>{{ $elem.Buyer.Username }}</td>
                    <td>{{ $elem.DueDate }}</td>
                    <td>{{ $elem.Amount }}</td>
                    <td>{{ $elem.Info }}</td>
                    <td><a href="/{{ $elem.Doc }}" target="_blank">lihat</a></td>
                    <td>
                        <form action="/murobahah-acc" method="POST">
                            <input type="hidden" value="{{$elem.ID}}" name="ID">
                            <input type="hidden" value="{{$elem.Date}}" name="Date">
                            <input type="hidden" value="{{$elem.Agent.ID}}" name="UIDAgent">
                            <input type="hidden" value="{{$elem.Buyer.ID}}" name="UIDBuyer">
                            <input type="hidden" value="{{$elem.DueDate}}" name="DueDate">
                            <input type="hidden" value="{{$elem.Amount}}" name="Amount">
                            <input type="hidden" value="{{$elem.Doc}}" name="Doc">
                            <input type="hidden" value="{{$elem.Info}}" name="Info">
                            <button type="submit">accept</button>
                        </form>
                        <form action="/murobahah-dec" method="POST">
                            <input type="hidden" value="{{$elem.ID}}" name="ID">
                            <input type="hidden" value="{{$elem.Agent.ID}}" name="UIDAgent">
                            <input type="hidden" value="{{$elem.Buyer.ID}}" name="UIDBuyer">
                            <input type="hidden" value="{{$elem.Doc}}" name="Doc">
                            <button type="submit">decline</button>
                        </form>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </article>
</body>
</html>