<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="public/style/pico.min.css">
    <style>
        a{
            display: block;
            color:white;
            text-decoration: none;
            padding: 10px
        }
        button {
            padding: 0px;
        }
    </style>
</head>
<body>
    <article>
        <head><h1> {{ .User.FullName }}</h1></head>
        <details>
            <summary>Details</summary>
            <p>Username : {{ .User.Username }}</p>
            <p>Tel : {{ .User.Tel }}</p>
            <p>DoB : {{ .User.DOB }}</p>
            <p>Address : {{ .User.Address }}</p>
          </details>
        <p>Menu</p>
        <button><a href="/deposit-req">Request Deposit</a></button>
        <button><a href="/withdraw-req">Request Withdraw</a></button>
        <button><a href="/loan-req">Create Loan Request</a></button>
        <button><a href="/user-setting">Setting</a></button>
        <hr>
        <p>Summary</p>
        <table>
            <thead>
                <th>Account</th>
                <th>Amount (Rp)</th>
            </thead>
            <tbody>
                <tr>
                    <td>Current Balance</td>
                    <td>{{ .CurBalance }}</td>
                </tr>
                <tr>
                    <td>Current Debt</td>
                    <td>{{ .CurDebt }}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <p>Recent Transaction</p>
        <table>
            <thead>
                <th>ID</th>
                <th>Date</th>
                <th>Name</th>
                <th>Amount (Rp)</th>
            </thead>
            <tbody>
                {{ range $index,$elem := .RecentTransaction }}
                <tr>
                    <td> {{ $elem.ID }} </td>
                    <td> {{ $elem.Date }} </td>
                    <td> {{ $elem.Name }} </td>
                    <td> {{ $elem.Amount }} </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        <hr>
        <p>Debt Details</p>
        <table>
            <thead>
                <th>ID</th>
                <th>Date</th>
                <th>Due Date</th>
                <th>Amount (Rp)</th>
                <th>Remaining (Rp)</th>
                <th>Info</th>
            </thead>
            <tbody>
                {{range $index,$elem := .DebtDetail}}
                <tr>
                    <td>{{$elem.ID}}</td>
                    <td>{{$elem.Date}}</td>
                    <td>{{$elem.DueDate}}</td>
                    <td>{{$elem.Amount}}</td>
                    <td>{{$elem.Remaining}}</td>
                    <td>{{$elem.Info}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </article>
</body>
</html>